repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v3.1.0'  # Use the sha / tag you want to point at
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.8.1
          - eslint-config-prettier
          - eslint-plugin-prettier