.app-grid {
  display: grid;
  grid-template-rows: 64px 1fr 140px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.nav {
  grid-column: 1 / 3;
  border-bottom: 1px solid #e5e5e5;
}

.middle-left {
  border-right: 1px solid #e5e5e5;
}

.middle-right {
}

.bottom {
  grid-column: 1 / 3;
  border-top: 1px solid #e5e5e5;
}
